<!-- <div class="card">
    <input type= "image" src="assets/images/clamshellVase.jpg" alt="The Ugliest Vase You've Ever Seen in Your Life" style="width:50%" class="listing-contents">

    <h1 class>Off-putting Vase</h1>
    <p class="price">$15.79</p>
    <p class>This vase has an incredibly unsettling aura... Perfect for your bathroom counter!</p>

    <p class><button>Add to Cart</button></p>
</div> -->

  <body>
    <table cellspacing="20">
      <tr>
        <!-- Column 1: Images -->
        <td>
            <img src="assets/images/clamshellVase.jpg" alt="The Ugliest Vase You've Ever Seen in Your Life" class= "zoom">
        </td>

        <!-- Column 2: Item info -->
        <td>
    
            <h1>Off-putting Vase</h1>
            <p class="price" style="text-indent:30px">Price: US $15.79</p>
            <p><strong>Product rating:</strong> </p>
            <p><strong>Seller Description:</strong> This vase has an incredibly unsettling aura... Perfect for your bathroom counter!</p>
            <p><strong>Condition:</strong> Good as new</p>

        </td>

        <!-- Column 3: Buttons -->
        <td>
          <p><button>Buy Now</button></p>
          <p><button>Add to Cart</button></p>
          <p><button>Add to Wishlist</button></p>
        </td>

      </tr>
    </table>
  </body>
<body>


<!-- Star Shit!!!! -->
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

<h1>User Reviews:</h1>
<!-- Figure out a way to make this dynamic; reviews will have to be part of the data collected -->
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<p><strong>3.0</strong> average based on <strong>100</strong> reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">

  <div class="side">
    <!-- <div style="float:left; padding-left:120px"><strong>5</strong></div>
    <span class="fa fa-star" style="font-size:18px; padding-right: 50px"></span> -->
    <div><strong>5 stars</strong></div>
  </div>

  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>

  <div class="side right">
    <div>40 users</div>
  </div>


  <div class="side">
    <div><strong>4 stars</strong></div>
    <!-- <span class="fa fa-star" style="font-size:18px"></span> -->
  </div>

  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>

  <div class="side right">
    <div>10 users</div>
  </div>


  <div class="side">
    <div><strong>3 stars</strong></div>
    <!-- <span class="fa fa-star" style="font-size:18px"></span> -->
  </div>

  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>

  <div class="side right">
    <div>5 users</div>
  </div>


  <div class="side">
    <div><strong>2 stars</strong></div>
    <!-- <span class="fa fa-star" style="font-size:18px"></span> -->
  </div>

  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  
  <div class="side right">
    <div>13 users</div>
  </div>


  <div class="side">
    <div><strong>1 stars</strong></div>
    <!-- <span class="fa fa-star" style="font-size:18px"></span> -->
  </div>

  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  
  <div class="side right">
    <div>32 users</div>
  </div>
</div>

</html>


<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 472px;
}
.right {
  width: 250px;
}

.middle {
  width: 600px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Three Unequal Columns</h2>

<div class="row">
  <div class="column left" style="background-color:#6d9398;">

    <img src="assets/images/clamshellVase.jpg" alt="The Ugliest Vase You've Ever Seen in Your Life" class= "zoom">
    
  </div>


  <div class="column middle" style="background-color:#7eb1c2;">

    <h1>Off-putting Vase</h1>
    <p class="price" style="text-indent:30px">Price: US $15.79</p>
    <p><strong>Product rating:</strong> </p>
    <p><strong>Seller Description:</strong> This vase has an incredibly unsettling aura... Perfect for your bathroom counter!</p>
    <p><strong>Condition:</strong> Good as new</p>

  </div>


  <div class="column right" style="background-color:#9de4dd; align-items:center">

    <p><button>Buy Now</button></p>
    <p><button style="background-color:#45bac7">Add to Cart</button></p>
    <p><button style="background-color:#f9ac4e">Add to Wishlist</button></p>

  </div>
</div>

</body>
</html> -->
